/* Custom styles to remove borders around accordion items */
.accordion-item {
    border: none;
}

.accordion-button {
    border: none;
    background-color: transparent;
    padding-left: 0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    font-weight: bold;
}

.accordion-body {
    padding-left: 1.5rem;
    /* Indent for subcategory items */
    border: none;
}
